.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding:0 1rem;
    display:grid;
    grid-template-columns: 256px 1fr ;/*  fr eh para dizer que a unidade do grid vai ter um tamanho flexivel */
    gap: 1rem;
    align-items:flex-start;
}